*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 0rem 5rem;
}
#main{
    display: flex;
    width: 100vw;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----------------NAV---------------*/

#nav{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat';
    background-color: #D3D3D3;
}

a{
    color: inherit;
    text-decoration: none;
}

.logo{
    flex: 0.6;
    box-sizing: border-box;
    padding: 0 4rem 0;
    font-size: 2rem;
    font-weight: 600;
    color: #8c52ff;
}
.navlinks{
    flex: 0.4;
    font-size: 1rem;
    color: #8c52ff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem 0 0;
}

#intro{
    font-size: 1.1rem;
    width:100%;
    font-weight: 200;
    margin-top: 2rem;
    text-align: center;
}

h1.thin{
    margin-top: 2rem;
    font-weight: 100;
    font-size: 2rem;
    width: fit-content;
    border-bottom: 1px solid;
    text-align: center;
}

.team__card{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6vh;
}
.card{
    width: 25%;
    box-sizing: border-box;
    transition: transform 150ms ease-out, box-shadow 150ms ease-out;
}

.card:hover{
    transform: scale(1.01);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.19);
}

.card:hover .links{
    color: #38b6ff;
}

.photo{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.photo img{
    width: 100%;
    object-fit: contain;
}

.title, .desc{
    margin-top: 2rem;
}



.occu, .title, .desc{   
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.links{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navlinks{
    flex: 0.4;
    font-size: 1rem;
    color: #8c52ff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem 0 0;
}

i{
    margin-left: 5px;
    margin-right: 5px;
}

/* ----------------------------------------------- RESPONSIVE ------------------------------------------------------------------------ */

@media screen and (max-width: 1160px) {
    #main{
        padding: 0;
    }
    #intro{
        box-sizing: border-box;
        padding: 0 2rem;
    }
    .team__card{
        flex-direction: column;
    }
    .logo{
        flex: 0.4rem;
    }
    .navlinks{
        flex: 0.6;
    }
    .card{
        width: 100%;
        box-sizing: border-box;
        padding: 0 10rem;
    }
    .links{
        color: #38b6ff;;
    }
}
@media screen and (max-width: 690px){
    h1.thin{
        font-size: 2rem;
    }
    #intro{
        font-size: 1rem;
        padding: 0 1rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid rgba(0,0,0,0.19);
    }
    .logo{
        font-size: 1.5rem;
        flex: 0.3;
        padding: 0 1rem;
    }
    .navlinks{
        flex: 0.7;
    }
    .team__card{
        align-items: center;
    }
    .card{
        width: 95%;
        padding: 0;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }
    .photo{
        width: 20vw;
        height: 20vw;
    }
    .desc{
        margin-top: 1rem;
    }
}