@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    margin: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
}

#main{
    display:flex;
    width: 70vw;
    height: 90vh;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

/*----------------NAV---------------*/

#nav{
    width: 100%;
    margin-top: 2.19rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat';
}

a{
    color: inherit;
    text-decoration: none;
}

.logo{
    flex: 0.6;
    box-sizing: border-box;
    padding: 0 4rem 0;
    font-size: 2rem;
    font-weight: 600;
    color: #4f84fb;
}
.navlinks{
    flex: 0.4;
    font-size: 1rem;
    color: #3c414d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem 0 0;
}

.login__signup{
    width: 100%;
    margin-top: 2.19rem;
    margin-left: 13.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat';
}

.login__signup button{
    font-size: 1rem;
    font-family: 'montserrat';
    padding: 0.4rem 1rem;
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
    font-weight: 400;
    color: #f6f6f8;
    border-radius: 10px
}

.login__signup button:nth-child(2){
    background-color: #4e83fb;
}
/*----------------SECTIONS---------------*/

.sec1{
    display: flex;
    flex: 60%;
    flex-direction: column;
}

.sec2{
    display: flex;
    flex: 40%;
    flex-direction: column;
    background-color: #0e1e3a;
} 

/*---------------- LEFT TEXT  ---------------*/
