@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
a{
    color: inherit;
    text-decoration: none;
}
#contact__container{
    box-shadow: 0 0px 20px rgba(0,0,0,0.19);
    width: 65vw;
    margin: 150px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

/*----------------NAV---------------*/

#nav{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat';
}
.title{
    flex: 0.6;
    box-sizing: border-box;
    padding: 0 4rem 0;
    font-size: 2rem;
    font-weight: 600;
    color: #5b3fd6;
}
.navlinks{
    flex: 0.4;
    font-size: 1rem;
    color: #5b3fd6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem 0 0;
}
/*----------------Main Card---------------*/
.contact__card{
    height: 600px;
    width: 100%;
    background-color: #5b3fd6;
    display: flex;
    flex-direction: column;
}

.sections{
    padding: 2rem 3rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.section__contact, .section__form{
    flex: 1;
    flex-direction: column;
    padding: 0 2rem;
    display: flex;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.section__contact h1{
    color: white;
    font-size: 2rem;
}

.section__contact h2{
    color: gray;
    font-weight: 180;
    font-size: 1.2rem;
}

.section__form{
    flex: 1;
    padding: 2rem 2rem;
    background-color: white;
}

.contact{
    display: flex;
    color: white;
    margin-top: 6rem;
    font-size: 1.2rem;
    flex-direction: column;
}

.options{
    display: flex;
    align-items: center;
    margin-top: 3rem;
}


.fa{
    color: #F9A7B0;
    margin-right: 1rem;
}

.social{
    display: flex;
    margin-top: 4rem;
    font-size: 2.2rem;
}

.facebook, .instagram, .twitter{
    color: var(--color-gray);
    margin-right: 0.7em;
}

.facebook, .instagram, .twitter a{
    transition: all 200ms ease-out;
}

.facebook, .instagram, .twitter:hover a{
    color: var(--white-color);
}
.contact__form{
    display: flex;
    flex-direction: column;
}

.form__name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.form__name label{
    font-weight: 600;
    flex: 0.9;
    display: flex;
    flex-direction: column;
}
.form__name label input{
    margin-top: 0.7rem;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.19);
    font-size: 0.9rem;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}
.form__name label input{
    width: 95%;
}
.contact__form label{
    font-weight: 600;
    
}
.contact__form > input, textarea{
    margin: 0.7rem 0 1.5rem;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.19);
    font-size: 0.9rem;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}
textarea{
    resize: none;
    height: 5rem;
    font-family: 'Montserrat';
}
.submit{
    width: fit-content;
    align-self: flex-end;
    background-color: #5b3fd6;
    color: white;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    transition: background-color 200ms ease-out;
}

input{
    font-family: 'Montserrat';
}

.footer{
    height: 4vh;
    background-color: #5b3fd6;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    color: white;
}