*{
    padding: 0px;
    margin: 0px;
}

body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin:100px;
}

#intro{
    font-size: 1.1rem;
    width:400px;
    text-align: center;
    font-weight: 200;
}

h1.thin{
    font-weight: 100;
}

.team__card{
    display: flex;
    
    margin-top: 6vh;
}
.card{
    border: solid;
    
}